@import "tailwindcss";
html, body, #root {
    height: 100%;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .custom-modal .ant-modal-body {
    max-height: 70vh;
    overflow-y: auto;
  }
  /* Tooltip Background - Grayish Transparent */
.ant-tooltip-inner {
  background-color: rgba(50, 50, 50, 0.7) !important; /* Dark Gray Transparent */
  color: white !important; /* White Text */
}

/* Tooltip Arrow Background */
.ant-tooltip-arrow::before {
  background-color: rgba(50, 50, 50, 0.7) !important;
}

